
html{
    background-color: #606060;
}

body{
    padding: 2em;
    box-sizing: border-box;
    background-color:white;
    background-image:url(images/bg.jpg);
    width: 70%;
    margin: auto;
    box-shadow: 0 0 2px #505050;
}
h1{
    font-family:Terminal Dosis;
    font-size: 52px;
    margin-bottom: 0;
}
nav ul{
    padding-left: 0;
    background:#fafafa;
    border-top: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
}
nav ul li {
    width:13%;
    display: inline-block;
    text-align: center;
    padding:10px;
    margin:0.5em 0;
    list-style: none;
    height: 59px;
    font-size: 0.7em;
    display: table-cell;
    vertical-align: middle;
}
nav ul li a{
    color: #505050;
    text-decoration: none;
}
article img{
    width: 100%;
}
h2{
    text-align: center;
    font-size: 28px;
    font-family:Terminal Dosis;
}
article span{
    font-size: 12px;
    color: #a6a6a6;
    text-align: center;
    display: block;
    padding: 1em 0;
}
div{
    background: #fafafa;
    height: 40px;
    border-top: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
}

span a{
    text-decoration: none;
    color: #505050;
}
footer ul{
    width: 23%;
    margin: 0;
    display: inline-block;
    list-style: none;
    padding: 0 1em ;
    vertical-align: top;
}
footer ul li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: Helvetica Neue;
}
footer ul li:first-child{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1em;
}
